header {
    display: flex;
    justify-content: end;
    /* border: 1px solid red; */
    padding: 5px;
}

.shopping__cart {
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
}

.shopping__cart:hover {
    background-color: black;
    color: white;
}

